<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Readme Generator</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap-5.3.3-dist/css/bootstrap.css")}}">
    <link rel="icon" href="{{ url_for("static", filename="images/logo/github-mark/github-mark-white.png")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css")}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Github Readme Generator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Thecode764/Github-Readme-Generator">Github</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Developer
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://github.com/Thecode764/Github-Readme-Generator">Source code</a></li>
                  <li><a class="dropdown-item" href="https://github.com/Thecode764">Developer</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Github Readme Generator</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
      <div class="flex">
        <img src="{{ url_for("static", filename="images/logo/github-mark/github-mark-white.png")}}" width="50">
        <h1 class="text-center">Welcome to Github Readme Generator</h1>
        <p class="text-center">Generate best readme for you github open source projects</p>
      </div>
       <form action="#" method="post">
        <label>Project name:</label>
        <input type="text" id="projectName" name="projectName">
        <br>
        <label>Tell more about your project:</label>
        <br>
        <textarea type="text" id="projectAbout" name="projectAbout"></textarea>
        <br>
        <label>You discord id:</label>
        <input type="text" id="discord" name="discord">
        <br>
        <label>Repo url (For example Thecode764/Github-Readme-Generator): </label>
        <input type="text" id="projectUrl" name="projectUrl">
        <br>
        <label>How to setup you project? </label>
        <br>
        <textarea type="text" id="projectSetup" name="projectSetup"></textarea>
        <br>
        <label>Docs: </label>
        <input type="text" id="projectDocs" name="projectDocs">
        <br>
        <button type="submit" class="btn btn-light">Submit</button>
    </form>
    <h2 class="text-center">Output</h2>
    <p class="text-center">Check out.md file</p>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="{{ url_for("static", filename="bootstrap-5.3.3-dist/js/bootstrap.js")}}"></script>
</body>
</html>